name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  APP_LOCATION: app/build/outputs/apk/debug/app-debug.apk
  ORG_NAME: Wednesday-Test # The organisation name
  GROUP_NAME: Testers # The group name, you can create as many as you want but mention the one you want to notify
  APP_NAME: Android-Template # The app name, under wh


jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Ktlint
        run: ./gradlew ktlint
      - name: Lint
        run: ./gradlew lintRelease

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Unit tests
        run: ./gradlew testDebugUnitTest

  build:
    name: Api Build and Deploy
    runs-on: ubuntu-latest
    needs: [lint, unit-tests]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build
        run: ./gradlew assembleDebug
      - name: Creating tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
      - name: Creating a release with the apk
        uses: ncipollo/release-action@v1
        with:
          tag: ${{steps.tag_version.outputs.new_tag}}
          body: New Release Created
          artifacts: ${{env.APP_LOCATION}}
          artifactErrorsFailBuild: true

      - name: Upload apk to App Center
        uses: wzieba/AppCenter-Github-Action@v1
        with:
          appName: ${{env.ORG_NAME}}/${{env.APP_NAME}}
          token: ${{secrets.APPCENTER_USER_API_KEY}}
          group: ${{env.GROUP_NAME}}
          file: ${{env.APP_LOCATION}}
          notifyTesters: true
          debug: false